.container-header {
  display: flex;
  height: 90px;
  align-items: center;
  justify-content: space-between;
  font-size: 20px;
  padding: 0 30px;
}

.logo {
  display: flex;
  align-items: center;
  color: #15866a;
  margin: 0 20px;

  &:hover {
    cursor: pointer;
  }
}

.logo > img {
  width: 90px;
  height: 90px;
}
